<section class="summary"><h2 class="summary__header">Summary</h2></section>
<section class="contact-info">
  <h2 class="contact-info__header">Contact Info</h2>
  <ul class="contact-info__list">
    <li>Phone:</li>
    <li>Email:</li>
    <li>Location:</li>
    <li>Github:</li>
    <li>LinkedIn:</li>
  </ul>
</section>
<section class="skills">
  <h2 class="skills__header">Skills</h2>
  <h3 class="skills__header">Languages</h3>
  <ul class="skills__languages">
    <li>JavaScript</li>
    <li>Java</li>
    <li>C++</li>
    <li>HTML</li>
    <li>CSS</li>
  </ul>
  <h3 class="skills__header">Libraries</h3>
  <ul class="skills__libraries">
    <li>React</li>
    <li>Bootstrap</li>
    <li>Skeleton</li>
    <li>React MDL</li>
  </ul>
  <h3 class="skills__header">RESTful Services</h3>
  <ul class="skills__rest-services">
    <li>NodeJs</li>
    <li>ExpressJs</li>
    <li>Prisma</li>
    <li>GraphQL</li>
    <li>SQL</li>
    <li>SOQL</li>
  </ul>
  <h3 class="skills__header">Version Control</h3>
  <ul class="skills__version-control">
    <li>Git</li>
    <li>Perforce</li>
  </ul>
  <h3 class="skills__header">Data Bases</h3>
  <ul class="skills__data-bases">
    <li>MongoDB</li>
    <li>Firebase</li>
  </ul>
</section>
<section class="experience">
  <h2 class="experience__header">Experience History</h2>
  <div class="experience__history">
    <div class="experience__date">March 2019 - Present</div>
    <div class="experience__position">
      Software Engineer, Impartner - Partner Management Software
    </div>
    <p class="experience__description">TODO: fill in here</p>
  </div>
  <div class="experience__history">
    <div class="experience__date">May 2017 - May 2019</div>
    <div class="experience__position">Bartender, Morris Pub Holdings Inc</div>
    <p class="experience__description">
      Bartend a high-volume bar. Providing quality drinks, ensuring customer
      satisfaction, and a high customer return rate. Deescalate disruptive
      customers and disputes between staff members. Frequently surpass daily
      sales goals. Account for the liquor and sales reports for all the
      employees at the end of the night and make sure that the numbers stay on
      track. Keep the bar safe from lawsuits by convincing intoxicated customers
      to download taxi apps to avoid customers drinking and driving.
    </p>
  </div>
  <div class="experience__history">
    <div class="experience__date">July 2016 - May 2018</div>
    <div class="experience__position">Bar-Back, Morris Pub Holdings Inc.</div>
    <p class="experience__description">
      Responsibilities ranged from cleaning, running food and drinks, to taking
      orders from customers and making drinks. Was the most preferred Bar Back
      to work with, because my ability to anticipate the needs of the bartender
      to ensure the bar operated swiftly.
    </p>
  </div>
</section>
<section class="education">
  <h2 class="education__header">education</h2>
  <div class="education__history">
    <div class="education__date">August 2014 - Present</div>
    <div class="education__location">
      Salt Lake City, UT, Salt Lake Community College, Computer Engineering
    </div>
    <div class="education__summary">
      Fundamentals of Computer Programming, Object Oriented Programming, Intro
      to C++, Algorithms and Data Structures,
    </div>
  </div>
  <div class="education__history">
    <div class="education__date">May 2018 - August 2018</div>
    <div class="education__location">
      Salt Lake City, UT, Helio Training Coding Bootcamp, Full Stack Web
      Development
    </div>
    <div class="education__summary">
      Certification of Course Completion, Certification of Skills Proficiency
    </div>
  </div>
</section>
