$blue: #0ff;
$pink: #f0f;
$glow-shadow-blue: inset 0 0 50px white, inset 5px 0 20px $pink,
  inset -5px 0 20px $blue, inset 10px 0 300px $pink, inset -10px 0 300px $blue,
  0 0 50px white, -5px 0 20px $pink, 5px 0 20px $blue;

.projects {
  display: flex;

  .project-card {
    border-radius: 0.4rem;
    overflow: hidden;
    width: 33.3333%;
    margin: 1.5rem 1rem;
    box-shadow: $glow-shadow-blue;

    &__img {
      height: 15rem;
      width: 100%;
      object-fit: cover;
    }

    &__title {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__description {
    }

    &__btn {
      font-size: 0.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      border: none;
      border-radius: 0.4rem;
    }

    &__link:link,
    &__link:visited {
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 0.2rem 0.4rem;
    }

    description-section {
      display: flex;
      justify-content: space-between;
    }
  }
}
