<div class="projects">
  <div class="project" *ngFor="let project of projects; index as i">
    <a target="_blank" href="{{ project.referenceUrl }}" class="project__card">
      <figure class="project__figure">
        <div class="date">
          <span class="card-date-day">20</span
          ><span class="card-date-month">APR</span>
        </div>

        <picture class="project__picture">
          <source
            media="(max-width = 599.99px)"
            srcset="{{ project.referenceImage }}"
          />
          <source
            media="(min-width: 600px)"
            srcset="{{ project.referenceImage }}"
          />
          <img
            *ngIf="i === 0; else lowPriority"
            fetchpriority="high"
            class="project__img"
            src="{{ project.referenceImage }}"
            alt="{{ project.title }}"
          />
          <ng-template #lowPriority>
            <img
              fetchpriority="low"
              class="project__img"
              src="{{ project.referenceImage }}"
              alt="{{ project.title }}"
            />
          </ng-template>
        </picture>

        <figcaption class="project__caption">
          <h4 class="project__title">
            <span>{{ project.title }}</span>
          </h4>
          <p class="project__description">
            {{ project.description }}
          </p>
        </figcaption>
      </figure>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
